<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="MakeMyTripAutomationSuite" verbose="1" parallel="false">
    <!-- Cab Booking Tests -->
    <test name="CabBookingTests">
        <classes>
            <class name="testcases.TC001_CabBookingLowestCharges"/>
        </classes>
    </test>
</suite>
