<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="MakeMyTripAutomationSuite" parallel="false">
    <test name="CabBookingTests">
        <classes>

            <class name="testcases.TC014_OpenGiftCard"/>
            <class name="testcases.TC015_PrintGiftCards"/>
            <class name="testcases.TC016_selectPriceShowsInEnterAmount"/>
            <class name="testcases.TC017_userDetails"/>
            <class name="testcases.TC018_InvalidUserDetails"/>


        </classes>
    </test>
</suite>